@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	color:$blue;
}

#page {
	height: 100vh;
}

//Loader
.lds-ring {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $blue transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader {
	z-index: 120;
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: #ffffff;

	.lds-ring {
		margin:0 auto;
		display: block;
	}

	.logo {
		position: absolute;
		left:50%;
		top:50%;
		transform: translate(-50%,-50%);

		img {
			max-width: 210px;
		}
	}	
}


//Herramientas
.p-r {
	padding-right:0;
}

.max-width {
	max-width: 85%;
}

.vh {
	height: 100vh;
}

.vh-7 {
	height: 70vh;
}

#wrapper-navbar {
	background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 68%, rgba(231,231,231,1) 100%)!important;
}

.img-vertical {
	position: relative;
	top:50%;
	transform: translate(0,-50%);
}

h1,h2,h3,h4,h5,h6,ul,p,strong {
	margin:0;
	padding:0;
}

nav {
	background-color: white;

	.custom-logo-link {
		img {
			width: 70%;
		}
	}
}

#navbar-main {
	top:0;
	width: 100%;
	z-index: 10;

	&.fixed {
		position: fixed!important;
		z-index:100;
	}
}

.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
	color:$red;
}

.navbar-dark .navbar-nav {
	.nav-item {
		padding:10px 2px;

		&:last-child {
			padding:10px 0;
		}
	}

	.nav-link {
		color:$blue;
		font-size: 17px;

		&:hover {
			color:$red;
		}
	}
}

.dropdown-menu {
	padding:0;

	.nav-item {
		padding: 0!important;
	}
}

#top {
	padding:10px 0;
	background-color: #fbfbfb;

	p {
		margin:0;

		strong {
			color:$red;

			a {
				text-decoration: none;
				margin-right: 30px;
			}
		}
	}
}

#home {
	position: relative;
	background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;

	.text {
		font-size:17px;
		text-align: justify;
		position: relative;
		top:50%;
		transform: translate(0,-50%);
		max-width: 80%;

		p {
			font-weight: 300;
			margin-bottom: 15px;
		}
	}
}

#single-products {
	#body {
		padding:60px 0;
		background-image: url('../img/products/bakc-prods.png');
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;

		.text {
			position: relative;
			top:50%;
			transform: translate(0,-50%);

			h1 {
				font-weight: 500;
			    font-size: 30px;
			    margin-bottom: 20px;
			}

			p {
				margin-bottom: 10px;
				font-weight: 300;
			}
		}
	}

	#products-related {
		margin-top: 20px;

		img {
			filter: grayscale(100);

			&:hover {
				filter: grayscale(0);
			}
		}
	}
}

.page-padding {
	padding:60px 0;
}

#certificacion {
	padding:0;
}

#calidad {
	padding:0;
}

#representaciones {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: right bottom;

    img {
    	position: absolute;
	    top: 50%;
	    transform: translate(0,-50%);
    }

    &::before {
		content:'';
		position: absolute;
		background: rgb(255,255,255);
        background: linear-gradient(90deg, rgba(255,255,255,1) 36%, rgba(255,255,255,0) 100%);
		width: 100%;
		height: 100%;
		top:0;
		left:0;
	}

	.vertical {
		padding:60px 0;
	}

	.text {

		p {
			margin-bottom: 10px;
			font-weight: 300;
			font-size: 15px;
		}

		.list-unstyled {
			margin-top: 10px;
		}
	}

	.download {
		width: 14px;
	}

	h3 {
		margin-bottom: 12px;
	}

	.catalog-list {

	    h4 {
	    	margin-top:5px;
	    	font-size: 17px;
	    }

	    .pdf {
	    	font-size: 15px;

	    	a {
	    		color:$red;
	    	}
	    }
	}
}
#historia {
	padding:120px 0;
}

#sector {
	.bg {
		height: 80vh;
		background-size:cover;
	}

	.text {
		position: relative;
		top:50%;
		transform: translate(0,-50%);
	}

	p {
		font-weight: 300;
		margin-bottom: 10px;
	}
}

#certificada {
	padding:50px 0;

	h3 {
		margin-bottom: 20px;
	}
}

#corporativo {

	#slide-one {

		.item {
			height: 80vh;
			position: relative;
		}

		.text {
			max-width: 30%;
			margin-left: 8%;
			position: absolute;
			top:50%;
			transform:translate(0,-50%);

			h3 {
				color:$red;

				strong {
					font-weight: 800;
					color:$red;
				}
			}

			p {
				font-weight: 300;
			}
		}
	}
}

#contacto {
	.bg-grey {
		background-color: #f5f5f5;

		p:first-child {
			margin-bottom: 20px;
		}

	}

	h3 {
		strong {
			color:$red;
			font-weight: 600;
		}

		color:$red;
		font-weight: 600;
	}

	.text {
		padding:100px 0;

		p {
			font-weight:300;
		}
	}

	.bg {
		background-size: cover;
		background-position: left;
		background-repeat: no-repeat;
	}

	.form,.form2 {
		text-align: center;
		position: relative;
		top:50%;
		transform: translate(0,-50%);
	}

	.form2 {
		margin-top: 25px;

		.form-control {
			border-radius:0;
			border:2px solid #74868d;
			font-weight: 300;
		}

		.btn-send {
			border:0!important;
			font-weight: 500!important;
			background-color: $red;
			text-transform:uppercase;
			height: auto!important;
			color:#fff!important;
			letter-spacing: 2px;
			font-size: 20px;

			&:hover {
				background-color: #bf161d!important;
			}
		}
	}
}

#curriculum {

	.bg {
		height: 80vh;
		background-size:cover;
		background-position: left;
		background-repeat: no-repeat;
	}

	.text {
		position: absolute;
		top:50%;
		transform: translate(0,-50%);
	}

	p {
		margin-bottom: 15px;
		font-weight: 300;
	}
}

#table {
	padding-bottom: 60px;

	#header {
		padding:100px 0;
		background-size: cover;
		background-position: top center;
	    background-repeat: no-repeat;
	    background-image: url('../img/table/header.png');
	}

	#body {
		padding:40px 10px;
	}
}

#footer {
	background-color: $white;
	position: fixed;
	width: 100%;
	bottom:0;
	z-index: 10;
	width: 100%;
	bottom:0;
	padding:20px;
	background-image: url('../img/patron.png');
	background-position: center;
	background-repeat: no-repeat;

	.icons {
		position: absolute;
		right: 0;
		top:50%;
		transform: translate(0,-50%);

		li {
			display: inline;
			list-style-type: none;

			img {
				width: 40px;
			}
		}
	}
}


@media only screen and (max-width: 1500px) {
	#representaciones {
		background-size:cover;
		background-position: right bottom;

		&::before {
			content:'';
			position: absolute;
			background-color: rgba(255,255,255,0.92);
			width: 100%;
			height: 100%;
			top:0;
			left:0;
		}
	}
}


@media only screen and (max-width : 1366px){
	#home {
		.text {
			max-width: 100%;
		}
	}
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

	#representaciones img {
    	position: relative;
	    top: inherit;
	    transform: inherit;
    }

	.vh,.vh-7 {
		height: inherit;
	}

	#curriculum .bg {
		display: none;
	}

	.navbar-dark .navbar-nav {
		.nav-link {
	    	font-size: 16px;
	    	padding: 5px 0;
		}

		.nav-item {
			padding:0;
		}
	}

	.navbar {
		background-color: #ececec;
	}

	#navbar-main,#footer {
		position: relative!important;
	}

	.navbar-dark .navbar-toggler {
	    border: 1px solid $blue;
	    border-radius: 0;
	    padding: 8px;
	    background-color: $blue;
	}

	//Secciones
	#home {
		padding:60px 0;
		height: inherit;
		background-position: right;

		&::before {
			content:'';
			position: absolute;
			background-color: rgba(255,255,255,0.5);
			width: 100%;
			height: 100%;
			top:0;
			left:0;
		}

		.text {
			top: inherit;
			transform: inherit;
		}
	}

	#single-products {

		#body {
			padding:20px 0;

			.img-cover {
				display: block;
				margin:0 auto;
				max-width: 50%;
			}

			.text {
				top: inherit;
				transform: inherit;
			}
		}

		#products-related {
			margin-top: 0;

			img {
				max-width: 40%;
				margin:0 auto;
				display: block;
			}
		}
	}

	#certificacion,#calidad {
		.img-vertical {
			display: block;
			margin:60px auto;
			top:inherit;
			transform: inherit;
			max-width: 35%;
		}
	}

	#table {
		padding:inherit;
	}

	#sector {
		background-size: cover;
		background-repeat: no-repeat;
		position: relative;

		&::before {
			content:'';
			position: absolute;
			background: rgb(255,255,255);
            background: linear-gradient(90deg, rgba(255,255,255,1) 36%, rgba(255,255,255,0.8) 100%);
			width: 100%;
			height: 100%;
			top:0;
			left:0;
		}

		.bg {
			display: none;
		}

		.text {
			margin:60px 0;
			top: inherit;
			transform: inherit;
		}
	}

	#curriculum {
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		position: relative;

		&::before {
			content:'';
			position: absolute;
			background-color: rgba(255,255,255,0.86);
			width: 100%;
			height: 100%;
			top:0;
			left:0;
		}

		.text {
			position: relative;
			top:inherit;
			transform: inherit;
			padding: 50px 20px;
		}
	}

	#corporativo {
		#slide-one {
			background-position: right;
			.item {
				padding:14em 0;
			}
		}
	}

	#contacto .bg-grey .text {
		padding: 40px 0; 
		text-align: center;

		h2 {
			font-size:27px;
		}
	}

	#contacto .form, #contacto .form2 {
		top: inherit;
		transform: inherit;
		margin-top: 35px;
	}

	//Footer
	#footer {
		position: relative;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#top {
		p {
			text-align: center;
		}
	}

	#navbar-main p {
		font-size: 15px;
	}

	#home {
		padding:60px 0;
		height: inherit;
		background-position: bottom right;
	}

	#corporativo {
		#slide-one {
			.item {
				position: relative;
				text-align: center;
				padding:12em 0;

				&::before {
					content:'';
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(white,0.67);
				}

				p {
					font-size: 14px;
				}
			}
		}
	}

	#footer {
		text-align: center;

		.icons {
			text-align: center;
			position: relative;
			top:inherit;
			transform: inherit;
			margin:10px auto;
			display: block;
		}

		p {
			margin:10px 0;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#home {
		background-size: cover;
	}

	#pruebas {
		img {
			margin:0 auto;
			display: block;
		}
	}

	#certificacion,#calidad {
		.img-vertical {
			max-width: 60%;
		}
	}

	#table {
		#header {
			padding:50px 10px;

			h2 {
				font-size: 25px;
			}
		}

		#body {
			padding-left: 15px;
    		padding-right: 15px;
		}
	}

	#representaciones .vertical {
		padding:20px 0;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.navbar-dark .navbar-brand {
	    color: #fff;
	    max-width: 180px;
	}

	#home {
		padding: 20px 0;
	}

	#table {
		#header {
			padding:30px 10px;

			h2 {
				font-size: 18px;
			}
		}

		#body {
			padding-left: 15px;
    		padding-right: 15px;
		}
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
