html {
  height: 100%;
}
body {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -82px 0;
  padding: 0 0 80px 0;
}
#SitioLavisa {
  font-weight: 400;
  font-family: 'Gudea', sans-serif;
}
#SitioLavisa .no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#SitioLavisa .navbar-brand img {
  width: 180px;
}
#SitioLavisa .owl-nav {
  display: none !important;
}
#SitioLavisa .estiloses {
  position: relative;
  width: 200%!important;
  z-index: 10;
  background-image: url(../images/rectangulo_blanco.png);
  background-size: cover;
  padding: 26px 146px  26px 12px;
  background-repeat: no-repeat;
  background-attachment: inherit;
  background-position: right;
}
#SitioLavisa .owl-dots {
  display: none !important;
}
#SitioLavisa .altura-general {
  height: 895px;
}
#SitioLavisa #footer {
  background-size: cover;
  background-position: center top;
  background-image: url('../images/patron.png') !important;
  background-color: #fff;
  height: 80px;
}
#SitioLavisa .social a img {
  width: 50px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#SitioLavisa .social a:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  width: 50px;
}
#SitioLavisa .tamano-fuente-general {
  font-size: 1rem;
}
#SitioLavisa .prueba img {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
#SitioLavisa .prueba img:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
#SitioLavisa .fondo-patron {
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url('../images/back_representaciones.png') !important;
}
#SitioLavisa .fondo-patron-industrias {
  z-index: 10;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('../images/fondo_back.png') !important;
}
#SitioLavisa .tab-pane {
  height: 725px;
}
#SitioLavisa #section-industrias .fondo-industrias-texto {
  padding-top: 10px;
  background-color: #fff;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  z-index: 31;
  width: 220%;
  margin-bottom: 10px;
}
#SitioLavisa .bordes-formulario-contacto {
  border: 2px #797979 solid;
  border-radius: 0px;
}
#SitioLavisa .fondo-producos {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/bakc-prods.png') !important;
}
#SitioLavisa .fondo-table {
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('../images/back_table.png') !important;
}
#SitioLavisa .fondo-table-back {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/bacl_letra_table.png') !important;
}
#SitioLavisa .fondo-politicas {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/mapa.png') !important;
}
#SitioLavisa .nav-tabs .nav-link.active {
  background-color: #fff0 !important;
}
