#SitioLavisa {
  flex-direction: column;
  font-weight: 400;
  font-family: 'Gudea', sans-serif;
}
#SitioLavisa .no-gutters {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#SitioLavisa .owl-nav {
  display: none !important;
}
#SitioLavisa .estiloses {
  position: relative;
  width: 200% !important;
  z-index: 10;
  height: 0px;
  border-right: 70px solid transparent;
  border-bottom: 70px solid #fff;
}
#SitioLavisa .owl-dots {
  display: none !important;
}
#SitioLavisa .altura-general {
  height: 920px;
}
#SitioLavisa #footer {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url('../images/patron.png') !important;
}
#SitioLavisa .tamano-fuente-general {
  font-size: 12px;
}
#SitioLavisa main {
  flex: 1;
}
#SitioLavisa .fondo-patron {
  background-size: cover;
  background-position: center right;
  background-repeat: no-repeat;
  background-image: url('../images/back_representaciones.png') !important;
}
#SitioLavisa .fondo-patron-industrias {
  z-index: 10;
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  background-image: url('../images/fondo_back.png') !important;
}
#SitioLavisa #section-industrias .fondo-industrias-texto {
  padding-top: 10px;
  background-color: #fff;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  position: relative;
  z-index: 31;
  width: 220%;
  margin-bottom: 10px;
}
#SitioLavisa .bordes-formulario-contacto {
  border: 2px #797979 solid;
  border-radius: 0px;
}
#SitioLavisa .fondo-producos {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/bakc-prods.png') !important;
}
#SitioLavisa .fondo-table {
  background-position: top center;
  background-repeat: no-repeat;
  background-image: url('../images/back_table.png') !important;
}
#SitioLavisa .fondo-table-back {
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/bacl_letra_table.png') !important;
}
#SitioLavisa .fondo-politicas {
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url('../images/mapa.png') !important;
}
#SitioLavisa .nav-tabs .nav-link.active {
  background-color: #fff0 !important;
}
