  html{
        height: 100%;
      }

    body {

        font-family: 'Ubuntu', sans-serif;
      }

#SitioLavisa {


  .no-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .text-muted{
  color:#7b868c;
  }

  nav{
    height: 80px;
  }

  .navbar-nav {
    .nav-link:hover{
      color:#bdd1db;
      }
    }


  .navbar-brand{
    img{
      width:180px;
    }
  }

  .owl-nav {
    display: none !important;
  }

  .estiloses {
    position: relative;
    width: 200%!important;
    z-index: 10;
    background-image: url(../images/rectangulo_blanco.png);
    background-size: cover;
    padding: 26px 146px  26px 12px;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: right;
  }

  .owl-dots {
    display: none !important;
  }

  .altura-general {
    height: 920px;
  }

  #footer {
    background-size: cover;
    background-position: center top;
    background-image: url('../images/patron.png') !important;
    background-color: #fff;
    height: 80px;
  }

  .social{ 
    a{
      img{
        width:40px;
        transition: all .2s ease-in-out
      }
    }
    a:hover{
      img{
       transform: scale(1.1);
        width:50px;
      }
    }
  }

  .tamano-fuente-general {
    font-size: 1rem;
  }

  .prueba{ 
      img{
        transition: all .2s ease-in-out
      }
      img:hover{
       transform: scale(1.1);
      }
  }


  .fondo-patron {
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url('../images/back_representaciones.png') !important;
  }

  .fondo-patron-industrias {
    z-index: 10;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    background-image: url('../images/fondo_back.png') !important;
  }


  .tab-pane{
    height: 725px;
  }

  #section-industrias {

    .fondo-industrias-texto {
      padding-top: 10px;
      background-color: #fff;
      padding-bottom: 10px;
      padding-right: 10px;
      padding-left: 10px;
      position: relative;
      z-index: 31;
      width: 220%;
      margin-bottom: 10px;
    }
  }

  .bordes-formulario-contacto {
    border: 2px #797979 solid;
    border-radius: 0px;
  }

  .fondo-producos {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/bakc-prods.png') !important;
  }

  .fondo-table {
    background-position: top center;
    background-repeat: no-repeat;
    background-image: url('../images/back_table.png') !important;
  }

  .fondo-table-back {
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/bacl_letra_table.png') !important;
  }

  .fondo-politicas {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../images/mapa.png') !important;
  }

  .nav-tabs {
    border:none;
    .nav-link {
      &.active {
        background-color: #fff0 !important;
      }
    }
  }



}